#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/710e0b57-ecfc-4799-b1b7-d764ead9f34d/ # 
title: product1



/product:
  get:
      
      description: This API is used to retrieve all product and details
      responses:
        200:
          body:
            application/json:
              example: !include examples/productEX.json
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
                
  post:
      description: This API is used to create new product
      responses:
        200:
          body:
            application/json:
              example: {"Message": "Product Created"}
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
  
  /{productID}:
    get:
      description: This API is used to retrieve all product and details
      responses:
        200:
          body:
            application/json:
              example: {"Messag": "Id accepted"}
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
    

    put:
      description: This API is used to updat new products
      responses:
        201:
          body:
            application/json:
              example: {"Message": "Product updated"}
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json

           
    delete:
      description: This API is used to delete all product and details
      responses:
        206:
          body:
            application/json:
              example: !include examples/example1.raml
        400:
          body:
            application/json:
              example:  !include examples/examplenotfound.json        
    
/Bills:
  get:
      description: This API used to retrieve all products and details
      responses:
        200:
          body:
            application/json:
              example: !include examples/BillEx.json
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
      
                  
  post:
      description: This API used to creat a new product and details 
      responses:
        200:
          body:
            application/json:
              example: {"Message": "Product Created"}
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
                             

  /{BillsID}:
   get:
      description: This API is used to retrieve all product            
      responses:
        200:
          body:
            application/json:
              example: {"Messag": "Id accepted"}
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
   put:
      description: This API is used to updat new products
      responses:
        200:
          body:
            application/json:
              example: {"Message": "Product updated"}
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
   delete:
    description: This API is used to delete all product and details
    responses:
        206:
          body:
            application/json:
              example: !include examples/example1.raml
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
 
  
/ProductCatagory:
  get:
      description: This API used to retrieve all product details
      responses:
        200:
          body:
            application/json:
              example: !include DataTypes/detatipe.json
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json

      
                  
  post:
      description: This API used to creat a new product and details 
      responses:
        200:
          body:
            application/json:
              example: {"Message": "Product Created"}
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
      
                   
            
  /{ProductCatagoryID}:
    get:
      description: This API used to retrieve all product details
      responses: 
        200:
          body:
            application/json:
              example: {"Messag": "Id accepted"}
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
    put:
      description: This API is used to updat new products
      responses:
        200:
          body:
            application/json:
              example: {"Message": "Product updated"}
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
    delete:
      description: This API is used to delete all product and details
      responses:
        206:
          body:
            application/json:
              example: !include examples/example1.raml
        400:
          body:
            application/json:
              example: !include examples/examplenotfound.json
           
 